<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.amigo">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/GreenTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:supportsRtl">
        <activity android:name=".Activities.MatchResultsActivity" />
        <activity android:name=".Activities.TeamAssignmentActivity"
            android:parentActivityName=".Activities.GroupStandingsActivity"/>
        <activity
            android:name=".Activities.AddPlayerActivity"
            android:parentActivityName=".Activities.AddStandingsActivity" />
        <activity
            android:name=".Activities.AddStandingsActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".Activities.GroupStandingsActivity" />
        <activity
            android:name=".Activities.AddEditGroupActivity"
            android:parentActivityName=".Activities.GroupListActivity" />
        <activity
            android:name=".Activities.GroupListActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.GroupStandingsActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".Activities.GroupListActivity"
            tools:ignore="LockedOrientationActivity" />
    </application>

</manifest>